.post {
    border: 1px solid black; /* Устанавливаем границу для элемента шириной 1 пиксель и цветом черный */
    padding: 10px; /* Устанавливаем внутренний отступ в 10 пикселей вокруг содержимого элемента */
    margin-bottom: 10px; /* Устанавливаем отступ снизу элемента в 10 пикселей */
}